{% extends 'home.html' %}
{% load static %}
{% load thumbnail %}

<!-- The static title of About template  -->
{% block title %}
    <h1 class="page-title">The Title of About Template</h1>
{% endblock %}


{% block content %}
<div>
   <h1>To Ja Maurycy</h1>

   <!-- <img src="{% static 'main/img/me.JPG' %}" id="beautiful_me"> -->

    {% thumbnail 'my_blog/my_blog/main/static/main/img/me.JPG' "200x200" as img %}
    <img src="{{ img.url}}" id="beautiful_me">
    {% endthumbnail %}


   <p>
      I'm Maurycy !!!
      <br>
      I love creating new projects.
   </p>
</div>
{% endblock %}
