.env
!/my_blog/main/static/main/img/me.JPG
!/my_blog/main/static/main/img/janpawel.jpeg
!/my_blog/main/static/main/img/
!/my_blog/posts/static/posts/img/
!/my_blog/posts/static/posts/img/
!/my_blog/db.sqlite3
/data/
../data/
