$background-gradient: linear-gradient(90deg,
        rgb(112, 27, 133),
        rgb(204, 116, 236),
        rgb(204, 116, 236),
        rgb(112, 27, 133));

$button-color: rgba(156, 27, 206, 0.75);

$my-media-bgc: palevioletred;

$header-text: rgba(199, 87, 234, 0.38);