{% extends 'home.html' %}

<!-- Static -->
{% load static %}
<!-- Style -->
{% block style %}
<link rel="{% static 'posts/css/style.css' %}" >
{% endblock %}

<!-- The title of post list   -->
{% block title %} The Posts {% endblock %}

{% block content %}
<link>
<img src="{% static 'posts/img/letters.jpeg' %}">

<h1 class="page-title">The Posts</h1>
<div class="container">
    <ul class="list-group">
        {% for post in posts_list %}
        <li class="list-group-item">
            <a class="link-to-post" href="{% url 'posts:details' post.id %}">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}