{% extends 'home.html' %}

<!-- Static -->
{% load static %}
<!-- Style -->
{% block style %}<link href="{% static 'posts/css/style.css' %}" rel="stylesheet" >{% endblock %}

<!-- The title of post list   -->
{% block title %} The Posts {% endblock %}

{% block content %}
<link>
<img src="{% static 'posts/img/letters.jpeg' %}">
<div>
<h1 class="page-title">The Posts</h1>
    <ul class="posts">
        {% for post in posts_list %}
        <li >
            <a class="link-to-post" href="{% url 'posts:details' post.id %}">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}