{% extends 'home.html' %}

<!-- Static -->
{% load static %}
<!-- Style -->
{% block style %}<link href="{% static 'posts/css/style.css' %}" rel="stylesheet" >{% endblock %}

<!-- The title of post list   -->
{% block title %} The Posts {% endblock %}

{% block content %}


    <h1>The Posts</h1>
    <form class="posts_search_bar">
            <input type="text"  id="title" name="title">
            <label for="tags"></label>
            <select id="tags" name="tags">
                    <option value="">wybierz</option>
                {% for tag in tags_list %}
                    <option value="{{tag.name}}">{{ tag.name }} </option>
                {% endfor %}
            </select>
        <input type="submit" value="search">
    </form>
    <ul class="posts_list">
        {% for post in posts_list %}
        <li >
            <a class="link-to-post" href="{% url 'posts:details' post.id %}">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}