body {
    background-color: rebeccapurple;
}
footer{
    background-color: blue;
    padding-bottom: 0;
}
h1 {
    font-family: "Times New Roman";
    text-align: center;
}
.content_box {
    padding: 0;
}
#beautiful_me{
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
}
ul li a:hover{
    color: mediumaquamarine;
}
a {
    font-family: "Times New Roman";
    color: wheat;
}
/*
Bla
 */

a:hover{
    color: palevioletred;
}