body {
    background-color: rebeccapurple;
    font-family: 'Space Mono', monospace;
}

.my-header{
    width: 100%;
    height: 6px;
    background-color: navy;
}


.page-title {
    font-family: "Times New Roman";
    text-align: center;
}
.content_box {
    padding: 0;
}
#beautiful_me{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin: auto;
}

.link-to-post {
    font-family: "Times New Roman";
    color: pink;
    text-decoration: none;

}

.link-to-post:hover{
    color: palevioletred;
    font-family: "Comic Sans MS";
}

i {
    color: white;
}
i:hover {
    color: darkgoldenrod;
}

.my-nav-item{
    font-weight: 800;
    text-decoration: none ;
    padding: 5px 10px;
    margin: 0px 1px 0px 5px;
    transition: 0.6s;
    background-color: hotpink;
    position: center;
    border-radius: 4px;
}

.my-nav-item a{
    text-decoration: none;
    color: navy;
}
.my-nav-item:hover{
    color: red;
    box-shadow: 1px -1px 7px palevioletred;
    text-shadow: 1px -1px 0 palevioletred;

}

footer{
    box-sizing: border-box;
    background-color: blue;
    margin-bottom: 0;
    margin-bottom: 0px ;
    padding: 10px;
}


.my-media {
    box-sizing: border-box;
    width: 20%;
    height: 10%;
    background-color: palevioletred;
    align-items: center;
    border-radius: 5px;
}