body {
    background-color: rebeccapurple;
    font-family: 'Space Mono', monospace;
}
footer{
    background-color: blue;
    padding-bottom: 0;
}
h1 {
    font-family: "Times New Roman";
    text-align: center;
}
.content_box {
    padding: 0;
}
#beautiful_me{
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
}
ul li a:hover{
    color: mediumaquamarine;
}
.link-to-post {
    font-family: "Times New Roman";
    color: pink;
    text-decoration: none;

}

.link-to-post:hover{
    color: palevioletred;
    font-family: "Comic Sans MS";
}

.my-media {
    background-color: palevioletred;
    align-items: inherit;
    padding: ;

}
i {
    color: white;
}
i:hover {
    color: darkgoldenrod;
}